.container{
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57%;
    height: 85vh;
    margin: auto;
    color: white;
}
.block__content{
    align-items: center;
}
.h{
    text-align: center;
    font-size: 45px;
    font-weight: 200;
    margin-bottom: 50px;
    color: white;
}
.text{
    height: 100%;
    width: 100%;
    font-weight: 200;
    font-style: normal;
    font-size: 21px;
    /*line-height: 36px;*/
}

.container__carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__button{
    width: 7%;
}
.block__button__r{
    display: flex;
    justify-content: flex-end;
    width: 7%;

}
.block__carousel{
    width: 700px;
    height: 250px;
    background: red;
}

.block__button__scrolling{
    height: 45px;
    width: 30px;
}


.container__img{
    height: 250px;
}
.block__imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;

}
.block__imgs__img{
    height: 92%;
    width: 170px;
    background: #6DA6E9;
    border-radius: 10px;
}
.img{
    object-fit: contain;
    width: 100%;
    height: 100%;

}
.block__like{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: white;
    border-radius: 10px 0 10px 0;
    width: 55px;
    height: 12%;
    z-index: 1;
    top: 34.5%;
    left: auto;
}
/*.block__like_2{
    position: absolute;
    background-color: white;
    border-radius: 10px 0 10px 0;
    width: 55px;
    height: 12%;
    z-index: 1;
    top: 34.5%;
    left: 16.64%;
}*/

.like__off{
    height: 20px;
    margin-right: 2px;
}
.like{
    height: 20px;
    margin-right: 2px;
}

.block__loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.loading{
    width: 37%;
    background-color: #6DA6E9;
    color: white;
    font-size: 19px;
    font-weight: 700;
    border-radius: 10px;
    padding: 8px 0;
    margin-top: 45px;
    box-shadow: 0 0 10px 7px rgba(130, 213, 239, 0.3);
}
