.container{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58%;
    height: 85vh;
    margin: auto;
    color: white;
}
.block{
    display: block;
    width: 100%;
}
.h{
    text-align: center;
    font-size: 33px;
    font-weight: 200;
    margin-bottom: 20px;
    color: white;
}
.block__stage{
    display: flex;
    width: 100%;
    height: 25%;
    margin-bottom: 7px;
}
.block__stage__break{
    display: flex;
    width: 100%;
    margin-bottom: 7px;
}
.block__time, .block__time__2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
}
.block__time__2{
    color: #6DA6E9 ;
}
.block__time__value{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
.block__events{
    display: flex;
    justify-content: space-between;
    width: 84%;
    height: 7vh;
    color: white;
}
.block__events__2{
    display: flex;
    justify-content: space-between;
    width: 84%;
}
.event{
    width: 49.3%;
}
.event2{
    width: 32.5%;
}
.event__inf__1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 0;
    line-height: 1.1;
    color: #041968;
    background-color: #88C4FB;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
}

.block__event__1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 49.3%;
    background-color: #88C4FB;
    border-radius: 10px;
}

.event__h3__text{
    color: #041968;
    font-weight: 600;
    margin: 0;
}

.block__events__teams{
    display: flex;
    justify-content: space-between;
    width: 84%;
    height: 6vh;
    color: white;
}
.Teams{
    color: #041968;
}
.block__break{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%;
    background-color: #88C4FB;
    border-radius: 10px;
}
.block__teams{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%;
    background-color: white;
    border-radius: 10px;
}
.block__break__text, .block__teams__text{
    color: #041968;
    font-weight: 500;
    font-size: 18px;
}
.block__teams__text{
    font-weight: 700;
}
